 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Research</h2>
      <img alt="re:publica 18" src="{{ "/assets/img/about/research_v2.png" | prepend: site.baseurl }}" width="250" height="250" />
      <p>My current research focus is lipoplysaccharide of plant-associated bacteria and its role in plant-bacteria interactions.</p>
      <a class="exp-link" href="{{ "/categories/research.html" | prepend: site.baseurl }}">More Details!</a>
    </div>
    <div class="tech">
      <h2>3D Printing</h2>
      <img alt="re:publica 18" src="{{ "/assets/img/about/3D-printing.png" | prepend: site.baseurl }}" width="250" height="250" />
      <p> I use CAD and 3D printing for protoyping, designing lab equipment. But I also print protein models or use printed parts to repair things. </p>
      <a class="exp-link" href="{{ "/categories/3Dprinting.html" | prepend: site.baseurl }}">Show Examples!</a>
    </div>
    <div class="tech">
      <h2>Electronics</h2>
      <img alt="re:publica 18" src="{{ "/assets/img/about/electronics.png" | prepend: site.baseurl }}" width="250" height="250" />
      <p>Some of my hardware projects are related to my research and others just solve particular problems I faced at some point.</p>
      <a class="exp-link" href="{{ "/categories/electronics.html" | prepend: site.baseurl }}">Show Projects!</a>
    </div>
</div>

</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <img alt="re:publica 18" src="{{ "/assets/img/about/code_v2.png" | prepend: site.baseurl }}" width="250" height="250" />
      <p>Some scripts and apps developed for work, at home or to bring some hardware projects to life.</p>
      <a class="exp-link" href="{{ "/categories/code.html" | prepend: site.baseurl }}">Show Projects!</a>
    </div>
    <div class="tech">
      <h2>Workshops</h2>
      <img alt="re:publica 18" src="{{ "/assets/img/about/workshops.png" | prepend: site.baseurl }}" width="250" height="250" />
      <p>Everything from small open science hardware workshops to 3D Design or soft skill courses.</p>
      <a class="exp-link" href="{{ "/categories/workshops.html" | prepend: site.baseurl }}">Latest Workshops!</a>
    </div>
    <div class="tech">
      <h2>Collaborations</h2>
      <img alt="re:publica 18" src="{{ "/assets/img/about/collab.png" | prepend: site.baseurl }}" width="250" height="250" />
      <p>I'm part of great and inspiring communities like <a href="https://www.globalinnovationgathering.org/"> GIG </a> or <a href="http://openhardware.science/"> GOSH </a> and collaborate with others to solve problems together.</p>
      <a class="exp-link" href="{{ "/categories/collaboration.html" | prepend: site.baseurl }}">Collaborators?!</a>
    </div>
</div>
