<div class="user-details">

  <h1> Featured Projects and Activities</h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Give Plants a Voice!" src="{{ "/assets/img/singing_plants_rp19.jpg" | prepend: site.baseurl }}" style="margin-top:0%"/>
  </div>
  <div class="contents-right">
    <h3> Workshop at re:publica 19 </h3>
    <p> Does your relationship status with your indoor plant read: “it’s complicated”? Sometimes it is just hard to understand what your green friend needs. In our workshop we will show you how to turn the plant’s cries into signals for humans to understand. Join us and learn about microcontrollers and how we can use them to digitize nature!</p>
    <a class="project-link" href="https://19.re-publica.com/en/session/give-plants-voice-digitally-translating-natures-needs">Tell me more!</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Autoclaving PLA" src="{{ "/assets/img/autoclavePLA.jpg" | prepend: site.baseurl }}" style="margin-top:10%"/>
  </div>
  <div class="content">
    <h3> Autoclaving PLA: A Test Series </h3>
<!--    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
    <p>Can you autoclave 3D-models printed with PLA filament? </p>
    <p>If you print equipment for biological laboratories it would be nice to know if autoclaving is a valid option for decontaminating and sterilizing your prints. I could not find any conclusive answer to this question and therefor peformed a small test series.
    </p>
    <a class="project-link" href="{{ "/3dprinting/autoclavePLA.html" | prepend: site.baseurl }}">Have a look!</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="re:publica 18" src="{{ "/assets/img/rp18.png" | prepend: site.baseurl }}" style="margin-top:0%"/>
  </div>
  <div class="contents-right">
    <h3> Workshop at re:publica 18 </h3>
<!--    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
    <p> Exploring the micro universe!</p>
    <p> The workshop is all about building microscopes and using them to examine various samples from plant leafs to moss in which might find some rotifers or tardigrades (super small but amazing organisms)
    <p>
    <a class="project-link" href="https://alexanderkutschera.com/2018/05/01/republica18.html">Information</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="MBac" src="{{ "/assets/img/mbac_v1.png" | prepend: site.baseurl }}" style="margin-top:0%" />
  </div>
  <div class="contents">
    <h3> MBac - Bacteria Motility made easy </h3>
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
      <p> MBac is a open science hardware and software project to analyze swarming movements of bacteria.</p>
      <p>It combines 3D-printing and simple electronics with computer vision and machine learning to create an on-line monitoring  setup for macroscopic movements of bacteria. </p>
    <a class="project-link" href="https://github.com/vektorious/mbac">Get involved!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="openplant.science" src="{{ "/assets/img/OPS_logo.png" | prepend: site.baseurl }}" style="margin-top:0%"/>
  </div>
  <div class="contents-right">
    <h3> openplant.science </h3>
<!--    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
    <p>I co-founded this open science and maker community and created the website to establish a collection of (mostly) plant-related projects.</p>
    <p>If you want to help to write posts about projects or if you want us to write about your project, get in touch!

    <a class="project-link" href="https://openplant.science">Have a look!</a>
  </div>
</div>

<!--  <div class="user-projects">
  <div class="images-right">
    <img alt="PathoVision" src="{{ "/assets/img/PathoVision.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PathoVision </h3>

    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/Radox96/PathoVision">Have a look!</a>
  </div>
</div>
 -->
